@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply bg-gradient-to-br from-slate-900 via-slate-950 to-slate-900 w-screen h-screen;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.hero-image {
  animation: blink infinite 1s ease-in-out;
}

@keyframes blink {
  0% {
    filter: drop-shadow(0px 0px 10px rgb(0, 81, 255));
    color: red;
  }
  50% {
    filter: drop-shadow(0px 0px 10px rgb(0, 149, 255));
  }
  100% {
    filter: drop-shadow(0px 0px 10px rgb(76, 0, 255));
  }
}

.blur-bg {
  @apply bg-white/5 backdrop-blur-sm;
}

.nav-link {
  @apply text-slate-300 hover:text-blue-500 hover:underline;
}

.my-name {
  background: linear-gradient(20deg, red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sec-title {
  background: linear-gradient(20deg, white, rgb(189, 189, 189), white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
